/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

body {
    font-family: "Montserrat", sans-serif;
  }
  
  img {
    width: 100%;
  }
  
  h1, #title {
    font-weight: bolder;
    margin-bottom: 5px;
  }
  
  .border {
    border: 1px solid #5b5e6d;
    padding: 5px;
  }
  
  nav {
    display: flex;
    background-color: white;
    color: #5b5e6d;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #5b5e6d;
    padding: 10px 20px;
    z-index: 100;
  }
  
  .logo {
    width: 100px;
  }
  
  nav ul {
    display: none;
  }
  
  header {
    padding-top: 100px;
  }
  
  p {
    padding: 20px 0;
    margin-bottom: 0;
  }
  
  header > input, .try-it > input {
    width: 280px;
    padding: 10px;
    display: block;
    margin: 0 auto;
    font-size: 0.8em;
    border-radius: 5px;
    border-color: #5b5e6d;
  }
  
  header > h1 {
    font-size: 2em;
  }
  
  header > p {
    font-size: 0.8em;
    text-align: center;
  }
  
  .icons {
    background-color: #F4F3F4;
    text-align: center;
    padding: 20px 0;
    background-size: auto;
  }
  
  .icons > h2 {
    font-size: 1.7em;
    margin-top: 10px;
    font-weight: bolder;
  }
  
  .icons > img {
    width: 50%;
    padding-top: 20px;
    padding: 30px;
    margin-top: 40px;

  }
    
  .try-it {
    text-align: center;
  }
  
  .try-it > p {
    padding: 0 0;
    margin-bottom: 0;
  }

  
  .try-it > a {
    text-decoration: underline;
  }
  
  footer {
    padding-bottom: 20px;
  }

  .information {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.2em;
    display: grid;
    grid-template-columns: auto auto;
  }

  .information > img {
    width: 50%;
  }
  
  .information > ul {
    list-style: none;
    padding-inline-start: 0;
    line-height: 2.5;
    color: #5b5e6d;
    display: flex;
    flex-direction: column;
    align-items: center;    
  }
  
  footer {
    padding: 10px 0;
  }
  
  footer ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding-inline-start: 0;
  }

  .subfooter {
    background-color: #F4F3F4;
    background-size: auto;
  }
  
  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .social > img {
    width: 5%;
    margin-right: 10px;
  }
  
  footer > div > i {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }
  
  .social {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social > i {
    margin: 0 10px;
  } 
  
  button {
    border: 1px solid;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    padding: 14px 0;
    width: 280px;
    font-size: 0.8em;
    text-align: center;
    margin: px auto;
  }
  
  header > button, .try-it > button {
    background-color: #192592;
    color: white;
    margin: 10px auto;
  }
  
  .icons> button {
    background-color: white;
    color: #192592;
    font-weight: bolder;
    margin: 10px auto;
  }

  @media (max-width: 961px) and (min-width: 767px) {
      
    .logo {
        width: 120px;
    }

    header > h1 {
        font-size: 3em;
        text-align: center;
      }
      
      header > p {
        font-size: 1em;
        text-align: center;
      }

    header > button, .try-it > button {       
        padding: 30px;
        width: 200px;
        font-size: 1em;
        position: relative;
        left: 200px;
        bottom: 40px;
    } 

    header > input, .try-it > input {
        position: relative;
        top: 50px;
        right: 200px;
        width: 400px;
        padding: 30px;
    }
  
    
    .icons {
        display: block;
    }

    .icons > img {
        width: 250px;
        margin-left: 50px;
        margin-right: 50px;
        
    }

    .icons > p {
        padding: 5px;
    }

    .icons > button {
      padding: 20px;
      width: 35%;
      border-radius: 8px;
      font-size: 20px;
      margin-bottom: 20px;
      margin-top: 1%;
    }
      
      .try-it > p {
        font-size: 1.5em;
      }
      
      .information {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;      
      }

      .information > img {
        width: 200px;
        height: 200px;
      } 

    .subfooter {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        font-size: 1em;
        font-weight: bolder;
      }
    
      .subfooter > ul {
        width: 400px;
        margin-bottom: 0;
      }
    
      .social {
        margin-bottom: 0;
      }

}

  @media (max-width: 1024px) and (min-width: 960px) {
    header > h1 {
        font-size: 3em;
        text-align: center;
      }
      
      header > p {
        font-size: 1.2em;
        text-align: center;
        padding: 10px;
        margin-right: 100px;
        margin-left: 100px;
      }

    header > button, .try-it > button {       
        padding: 30px;
        width: 200px;
        font-size: 1em;
        position: relative;
        left: 200px;
        bottom: 40px;
    } 

    header > input, .try-it > input {
        position: relative;
        top: 50px;
        right: 200px;
        width: 400px;
        padding: 30px;
    }
  
    
    .icons {
        display: block;
    }

    .icons > img {
        width: 270px;        
    }

    .icons > h2 {
        font-size: 2em;
    }

    .icons > p {
        padding: 5px;
        font-size: 1.2em;
    }

    .icons > button {
      padding: 20px;
      width: 35%;
      border-radius: 8px;
      font-size: 20px;
      margin-bottom: 20px;
      margin-top: 1%;
    }
      
      .try-it > p {
        font-size: 1.5em;
      }

      .information {
        display: flex;      
      }


    .subfooter {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        font-size: 1.5em;
        font-weight: bolder;
      }
    
      .subfooter > ul {
        width: 500px;
        margin-bottom: 0;
      }
    
      .social {
        margin-bottom: 0;
      }
  }
  
  @media (min-width: 1200px) {
    header h1 {
      font-size: 3em;
    }
  
    nav ul {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  
    nav > i {
      display: none;
      
    }
  
    nav > ul > li {
      list-style: none;
    }
  
    header {
      height: 500px;
      display: flex;
      flex-direction: row;
      margin-left: auto;
      margin-right: auto;

      
          
    }

    
    header > h1, p, input, button {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        flex-basis: 40%;
    }

    .icons > img {
        width: 300px;
                
    }

    .try-it > p {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        width: 250px;
        font-weight: bolder;
    }
  
    .try-it input {
      display: none;
    }
  
    .try-it > button {
      position: relative;
      width: 200px;
      left: 450px;
      bottom: 100px;
      padding: 30px;
      font-weight: bolder;
    }
  
    .already {
      margin-top: 50px;
    }

    .information > img {
        width: 200px;
        height: 200px;
                
    }

    .information {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;   
      }


    .subfooter {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        font-size: 0.8em;
        font-weight: bolder;
      }
    
      .subfooter > ul {
        width: 600px;
        margin-bottom: 0;
      }
    
      .social {
        margin-bottom: 0;
      }
  }